* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Main styling */
body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8em;
}

a {
    color: #334;
    text-decoration: none;
}

h1,
h2,
h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 1;
}

/* Navbar */

#navbar {
    background: rgb(202, 55, 55);
    color: whitesmoke;
    overflow: auto;
}

#navbar a {

    color: #fff;
}

#navbar h1 {

    float: left;
    padding-top: 18px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {

    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover, #navbar ul li a.current {
    background: #444;
    color: #f7c08f;


}